<section class="header-section">
    <nav class="navbar">
        <div class="navbar-logo--container" *ngIf="!verticalPosition">
            <h1 class="logo">SHOP<span>SNEAKER</span></h1>
        </div>
        <div class="navbar-nav--container" *ngIf="verticalPosition">
            <div class="nvbar-nav--items" >
                <div class="nav menu">
                    <mat-icon aria-hidden="false" (click)="showMenu()">menu</mat-icon>
                </div>
                <div class="nav search">
                    <a routerLink="/search"><mat-icon aria-hidden="false">search</mat-icon></a>
                </div>
                <div class="nav auth-container" *ngIf="!isLoggedIn">
                    <a routerLink="/auth/login">Login</a>
                    <a routerLink="/auth/register">Register</a>
                </div>
                <div class="logout" *ngIf="isLoggedIn">
                    <mat-icon aria-hidden="false" (click)="onLogout()">logout</mat-icon>
                </div>
                <div class="nav user-basket">
                    <a routerLink="/cart">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">shopping_cart</mat-icon>
                        <div class="cart-item--counter">
                            <span class="counter">{{cartCounter}}</span>
                        </div>
                    </a>
                    <span class="item">items: 0</span>
                    <span class="item">/</span>
                    <span class="item">value: 0.0</span>
                </div>
            </div>
        </div>
        <ul class="nvabar-nav--list" *ngIf="displayMenu">
            <li class="list-item">
                <a routerLink="/home">Home</a>
            </li>
            <li class="list-item">
                <a routerLink="/gender/mens">Men's</a>
            </li>
            <li class="list-item">
                <a routerLink="/gender/ladies">Ladies</a>
            </li>
            <li class="list-item">
                <a routerLink="/gender/children">Children</a>
            </li>
            <li class="list-item sale">
                <a routerLink="/sale">Sale</a>
            </li>
        </ul>
    </nav>
    <div class="header-text-container">
        <ul class="text-list">
            <li>Test and review before payment</li>
            <li>All products are available</li>
            <li>Free shippment for products over 100 lv</li>
            <li>30 days return period</li>
        </ul>
    </div>
</section>
