
h3 {
    position: relative;
    top: 30px;
    left: 25%;
    width: 200px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
}

form {
    display: grid;
    grid-template-areas: 
        "firstName lastName"
        "email phone"
        "discount button";
    border: 1px solid #ccc;
    padding: 20px;
}

.area-1 {
    grid-area: firstName;
}

.area-2 {
    grid-area: lastName;
}

.area-3 {
    grid-area: email;
}

.area-4 {
    grid-area: phone;
}

.area-5 {
    grid-area: discount;
}

.area-6 {
    grid-area: button;
}

form div {
    width: 100%;
    display: flex;
    align-items: center;
}

label {
    width: 20%; 
    height: 30px;
}

input {
    width: 40%;
    height: 30px;
    border-left: 5px solid red;
}

input.ng-valid {
    border-left: 5px solid green;
}

form p {
    width: 40%;
    position: relative;
    left: -155px;
    color: #fff;
    text-align: center;
    background-color: red;
    font-size: 12px;
    border-radius: 3px;
}

button {
    width: 61.5%;
    height: 40px;
    text-align: center;
    color: #fff;
    background-color: #000;
}

.message {
    margin : 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.message  p {
    font-size: 20px;
    color: #fff;
    text-align: center;
    background-color: green;
}

.message a {
    display: inline-block;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    color: #fff;
    background-color: #000;
} 

@media  screen and (min-width: 160px) and (max-width: 768px){
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid #ccc;
        padding: 20px;
    }

    form div {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    label, input{
        width: 80%;
    }

    form p {
        width: 40%;
        position: relative;
        left: 5px;
        top: -20px;
    }

    button {
        width: 80%;
        height: 50px;
        display: block;
        margin: 0 auto;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        color: #fff;
        background-color: #000;
        border-radius: 5px;
       
    }

}

