@media screen and (min-width: 160px) and (max-width: 768px){
    .product-details {
        display: flex;
    }

    .mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;        
    }


}
