<section class="footer">
    <nav class="navbar-footer">
        <h3>SERVICES</h3>
        <div class="navbar-list">
            <a href="">Men's</a>
            <a href="">Ladies</a>
            <a href="">Child</a>
            <a href="">Sale</a>
        </div>
        <h3>FOLLOW US</h3>
        <div class="navbar-social--icons">
            <fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>
            <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
            <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
            <fa-icon [icon]="['fab', 'google-plus']"></fa-icon>
        </div>
    </nav>
</section>
