@media screen and (min-width: 160px) and (max-width: 768px){
  
    .product-card {
        flex-direction: column;
    }

    .product-card--img {
        height: auto;
    }

    .product-description h3 {
        text-transform: uppercase;
        text-align: center;
    }
    
   
}
