@media screen and (min-width: 160px) and (max-width: 768px) {

    .mobile-360 {
        max-width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: -10px;
    }

    .mobile-360 img{
        max-width: 100%;
        max-height: 200px;
    }

    .baner-container .buy-now {
        max-width: 200px;
        height: 50px;
        position: relative;
        left: 50%;
        top: -50px;
        transform: translate(-50%);
        background-color: #000;
        display: flex;
        align-items: center;
    }

    .buy-now a {
        font-weight: 600;
        color: #fff;
    }


    .product-card {
        display: flex;
        align-items: center;
        gap: 10px;
        overflow: hidden;
    }

    .product-card--items {
        flex:0 0 48%;
        background-color: white;
        border: 1px solid #d3d3d3;
        border-radius: 5px;
        line-height: 0.5;
    }
    
    .product-card--items img {
        max-width: 90%;
        height: 170px;
    }

    .product-model,
    .product-price {
        font-size: 14px;
        font-weight: 400;
    }
    
}
